//Font Size
$xx-large:70px;
$x-large:30px;
$large:18px;
$medium:16px;
$small:12px;
//Colors
$white:#FFF;
$platinum:#e6e7e7;
$lightGray:#d1d1d1;
$fuzzyWuzzy:#e56353;
$ruddyPink:#d76c69;
$spanishPink:#ecbcba;
$eerieBlack:#121619;
$resinBlack:#222323;
$nickel:#6c6e70;